*{
    margin: 0%;
    padding: 0%
    
}
.body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0 34px;
    padding: 8px;
}
.header_logo{
    height: 60px;
}
.header_nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_items{
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav_item a{
    color:white;
    text-decoration: none;
    font-size: 25px; 
    
}
.nav_item :hover{
    color: green;
    
}
.hero{
    display: flex;
    padding-top: 60px;
    padding-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}
.main_text{
    width: 700px;
}
.maintext_img img{
    width:600px;
}
.text_heading{
    font-style:italic;
}
.hero2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}
.navitems{
    width: 700px;
}
.nav_item :hover{

    color: blue;
   

}
.nev_text2{
    font-style:bold;
}
.nav_image2 img{
    width: 900px;
}
.hero3{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 40px;
    align-items: center;

}
.nev_text3{
    width: 700px;
}
.heading_text3{
    font-style: italic;
    color: blueviolet;
}
.image3 img{
    width: 700px;
}
.footer{
    background-color: black;
    text-align: center;
}
.footer_text{
    color: white;
}
.footer :hover{
    color: red;
    
}

